@charset "UTF-8";
/* Paleta de colores: https://colorhunt.co/palette/362222b3541effccd2ffeded --------------------*/
/* Bucles: -------------------------------------------------------------------------------------*/
.fondo-home {
  background-image: url("../img/fondo_home.svg");
}

.fondo-info {
  background-image: url("../img/fondo_info.svg");
}

.fondo-seccionProductos {
  background-image: url("../img/fondo_seccionProductos.svg");
}

/* Reseteo, body y sus partes principales -general: --------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body {
  font-family: "Dosis", sans-serif;
  color: #362222;
  text-shadow: 0 0 30px #b3541e;
  height: 100vh;
}
* header {
  background-color: #ffccd2;
  background-image: linear-gradient(to left, #ffccd2, #ffeded);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;
  text-align: center;
}
* header a:not(a.dropdown-toggle) {
  color: #362222;
  transition: text-shadow 0.3s;
}
* header a:hover:not(a.dropdown-toggle) {
  text-shadow: 0 0 10px #b3541e;
}
* main {
  background-color: #ffeded;
}
* footer {
  background-color: #ffccd2;
  background-image: linear-gradient(to left, #ffccd2, #ffeded);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 5px;
}
* footer a:hover {
  color: #362222;
  transition: text-shadow 0.3s;
  text-shadow: 0 0 10px #b3541e;
}
* footer section {
  margin-top: 5px;
}
* footer section ul ul {
  background-color: #ffccd2;
  border: solid 1px #ffeded;
}
* footer section.redesSociales div img {
  transition: transform 1s;
}
* footer section.redesSociales div img:hover {
  transform: rotate(360deg);
}

@media screen and (max-width: 1024px) {
  header nav {
    display: none;
  }

  footer ul {
    display: none;
  }

  .headerHome {
    display: none;
  }

  .headerMobile {
    grid-area: headerHome, headerInfo, headerContacto, headerSeccionProductos;
  }
  .headerMobile .bg-light {
    background-color: #ffccd2 !important;
    background-image: linear-gradient(to left, #ffccd2, #ffeded);
  }
  .headerMobile .offcanvas {
    background-color: #ffeded;
  }
  .headerMobile .offcanvas .dropdown-menu {
    background-color: #ffccd2;
  }
  .headerMobile .offcanvas .dropdown-menu .dropdown-item:hover {
    background-color: #ffccd2;
  }
  .headerMobile .offcanvas .dropdown-menu .dropdown-item.active {
    color: #362222;
    text-decoration: none;
    background-color: #ffccd2;
  }
  .headerMobile .offcanvas .dropdown-menu .dropdown-item:active {
    color: #362222;
    text-decoration: none;
    background-color: #ffccd2;
  }

  a.nav-link {
    color: #362222 !important;
  }
  a strong {
    cursor: default;
  }

  strong.dropdown-item {
    font-weight: bolder;
  }
}
@media screen and (min-width: 1025px) {
  .headerMobile {
    display: none;
  }
}
/* Barra de navegación desktop y logo: ---------------------------------------------------------*/
li {
  display: inline-block;
  width: 110px;
  position: relative;
  font-size: 16px;
  z-index: 2;
}

ul {
  list-style: none;
  font-size: 0;
}
ul ul {
  position: absolute;
  display: none;
  background-color: #ffeded;
  border: solid 1px #ffccd2;
  border-radius: 4px;
}
ul ul li {
  display: block;
}

ul li:hover ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

li > a {
  text-decoration: none;
  color: #362222;
}

header a {
  text-decoration: none;
  color: #362222;
}
header h1 {
  transition: transform 0.5s;
}
header h1:hover {
  transform: skewX(10deg);
}

/* Imports: ------------------------------------------------------------------------------------*/
/* Mixins: ------------------------------------------------------------------------------------*/
/* Home: --------------------------------------------------------------------------------------*/
.home {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 5.5fr 0.1fr;
  gap: 0px 0px;
  grid-template-areas: "headerHome" "mainHome" "footerHome";
}
.home .headerHome {
  grid-area: headerHome;
}
.home .mainHome {
  display: grid;
  grid-area: mainHome;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 500px 0.8fr;
  gap: 5px 5px;
  grid-template-areas: "productosHomeArriba" "carrusel" "productosHomeAbajo";
  background-size: cover;
  background-position: center;
}
.home .footerHome {
  grid-area: footerHome;
}

.mainHome__productosHomeArriba {
  display: grid;
  grid-area: productosHomeArriba;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 1.2fr;
  gap: 5px 5px;
  grid-template-areas: "productoHome1 productoHome2";
  align-items: baseline;
}
.mainHome__productosHomeArriba .productosHomeArriba__productoHome1 {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  grid-area: productoHome1;
}
.mainHome__productosHomeArriba .productosHomeArriba__productoHome1 h3 {
  padding-top: 12px;
}
.mainHome__productosHomeArriba .productosHomeArriba__productoHome1 p {
  width: 80%;
  text-align: center;
}
.mainHome__productosHomeArriba .productosHomeArriba__productoHome2 {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  grid-area: productoHome2;
}
.mainHome__productosHomeArriba .productosHomeArriba__productoHome2 h3 {
  padding-top: 12px;
}
.mainHome__productosHomeArriba .productosHomeArriba__productoHome2 p {
  width: 80%;
  text-align: center;
}

.mainHome__carrusel {
  grid-area: carrusel;
  display: flex;
  justify-content: center;
  border-top: solid 2px #b3541e;
  border-bottom: solid 2px #b3541e;
  background-color: #ffccd2;
  margin-bottom: 100px;
}
.mainHome__carrusel img {
  height: 400px;
  width: 400px;
}
.mainHome__carrusel .carousel-item {
  display: flex;
  justify-content: center;
  height: 400px;
}
.mainHome__carrusel .carousel-item.active {
  display: flex;
  justify-content: center;
  height: 400px;
}
.mainHome__carrusel .carousel-item img {
  border-left: solid 2px #b3541e;
  border-right: solid 2px #b3541e;
  height: 400px;
  object-fit: cover;
}
.mainHome__carrusel .carousel-control-prev-icon {
  background-image: url(https://icongr.am/octicons/chevron-left.svg?size=70&color=362222);
}
.mainHome__carrusel .carousel-control-next-icon {
  background-image: url(https://icongr.am/octicons/chevron-right.svg?size=70&color=362222);
}

.mainHome__productosHomeAbajo {
  display: grid;
  grid-area: productosHomeAbajo;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 0.3fr;
  gap: 5px 5px;
  grid-template-areas: "productoHome3" "productoHome4";
}

.productosHomeAbajo__productoHome3 {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 0.2fr 1.8fr;
  gap: 5px 5px;
  grid-template-areas: "productoHome3__foto productoHome3__titulo" "productoHome3__foto productoHome3__descripcion";
  grid-area: productoHome3;
  justify-items: center;
  margin-bottom: 80px;
}
.productosHomeAbajo__productoHome3 .productoHome3__foto {
  grid-area: productoHome3__foto;
  padding-right: 20px;
}
.productosHomeAbajo__productoHome3 .productoHome3__titulo {
  grid-area: productoHome3__titulo;
  justify-self: start;
}
.productosHomeAbajo__productoHome3 .productoHome3__descripcion {
  grid-area: productoHome3__descripcion;
  width: 80%;
  justify-self: start;
  text-align: left;
}

.productosHomeAbajo__productoHome4 {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 0.2fr 1.8fr;
  gap: 5px 5px;
  grid-template-areas: "productoHome4__titulo productoHome4__foto" "productoHome4__descripcion productoHome4__foto";
  grid-area: productoHome4;
  justify-items: center;
}
.productosHomeAbajo__productoHome4 .productoHome4__foto {
  grid-area: productoHome4__foto;
  padding-left: 20px;
}
.productosHomeAbajo__productoHome4 .productoHome4__titulo {
  grid-area: productoHome4__titulo;
  justify-self: end;
}
.productosHomeAbajo__productoHome4 .productoHome4__descripcion {
  grid-area: productoHome4__descripcion;
  width: 80%;
  justify-self: end;
  text-align: right;
}

.mainHome article a img {
  height: 400px;
  width: 400px;
  opacity: 0.99;
  box-shadow: 0 0 5px #b3541e;
  border-radius: 5px;
  object-fit: cover;
  transition: transform 0.3s;
}
.mainHome article a img:hover {
  opacity: 1;
  transform: scale(1.01);
}
.mainHome article h3 {
  font-size: 2em;
  font-weight: bolder;
}

@media screen and (max-width: 1024px) {
  .mainHome__productosHomeArriba {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "productoHome1" "productoHome2";
    padding-top: 20px;
  }

  .productosHomeAbajo__productoHome3,
.productosHomeAbajo__productoHome4 {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }

  .productosHomeAbajo__productoHome4 {
    margin-bottom: 120px;
  }

  .productoHome3__foto {
    padding-right: 0;
  }

  .productoHome3__titulo {
    justify-self: center;
  }

  .productoHome3__descripcion {
    justify-self: center;
    text-align: center;
  }

  .productoHome4__foto {
    padding-left: 0;
  }

  .productoHome4__titulo {
    justify-self: center;
  }

  .productoHome4__descripcion {
    justify-self: center;
    text-align: center;
  }
}
@media screen and (max-width: 425px) {
  .mainHome article a img,
.mainHome__carrusel .carousel-item img {
    width: 310px;
    height: 310px;
  }

  .mainHome {
    grid-template-rows: 0.5fr 400px 0.8fr;
  }
}
@media screen and (min-width: 1025px) {
  .mainHome__productosHomeAbajo {
    margin-bottom: 120px;
  }
}
/* Mixins: ------------------------------------------------------------------------------------*/
/* Página -Info-: -----------------------------------------------------------------------------*/
.info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 5fr 0.3fr;
  gap: 0px 0px;
  grid-template-areas: "headerInfo" "mainInfo" "footerInfo";
}
.info .headerInfo {
  grid-area: headerInfo;
}
.info .mainInfo {
  grid-area: mainInfo;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 60px;
  background-size: cover;
  background-position: center;
}
.info .mainInfo img {
  height: 400px;
  width: 400px;
}
.info .mainInfo p {
  text-align: left;
}
.info .mainInfo .accordion-item {
  background: transparent;
}
.info .mainInfo .accordion-item a {
  color: #362222;
  transition: transform 0.3s;
}
.info .mainInfo .accordion-item a span {
  text-decoration: underline;
}
.info .mainInfo .accordion-item a:hover {
  transform: translateY(3in);
}
.info .mainInfo .accordion-item li {
  display: block;
  white-space: nowrap;
}
.info .mainInfo .accordion-item .accordion-button {
  background: transparent;
  color: #362222;
  text-shadow: 0 0 30px #b3541e;
  transition: text-shadow 0.3s;
}
.info .mainInfo .accordion-item .accordion-button:hover {
  text-shadow: 0 0 10px #b3541e;
}
.info .mainInfo .accordion-item .accordion-button:focus {
  border-color: none;
  box-shadow: none;
  color: #362222;
}
.info .footerInfo {
  grid-area: footerInfo;
}

@media screen and (max-width: 425px) {
  .mainInfo div {
    width: 310px;
    height: 310px;
  }
}
/* Página -Contacto-: ------------------------------------------------------------------------*/
.contacto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 5fr 0.3fr;
  gap: 0px 0px;
  grid-template-areas: "headerContacto" "mainContacto" "footerContacto";
}
.contacto .headerContacto {
  grid-area: headerContacto;
}
.contacto .mainContacto {
  grid-area: mainContacto;
  background-image: url(../img/cookies.png);
  background-position: left;
  font-weight: bolder;
  text-shadow: none;
}
.contacto .mainContacto .formulario {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  border: 2px solid #ffccd2;
  padding: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.contacto .mainContacto .formulario input[type=text],
.contacto .mainContacto .formulario input[type=number],
.contacto .mainContacto .formulario input[type=email],
.contacto .mainContacto .formulario input[type=checkbox],
.contacto .mainContacto .formulario textarea {
  border: 2px solid #362222;
  border-radius: 4px;
}
.contacto .mainContacto .formulario .formulario__checkbox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.contacto .mainContacto .formulario .button {
  background-color: #ffccd2;
  border: none;
  font-family: "Dosis", sans-serif;
  color: #362222;
  text-shadow: 1px 1px 30px #b3541e;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  box-shadow: 2px 2px 5px #b3541e;
}
.contacto .mainContacto .formulario .button:hover {
  font-weight: bold;
}
.contacto .mainContacto .formulario label {
  display: block;
}
.contacto .footerContacto {
  grid-area: footerContacto;
}

@media screen and (max-width: 395px) {
  .formulario label {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .formulario .button {
    padding: 10px 21px;
  }
}
/* Secciones de Productos: -------------------------------------------------------------------*/
.seccionProductos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 5.5fr 0.1fr;
  gap: 0px 0px;
  grid-template-areas: "headerSeccionProductos" "mainSeccionProductos" "footerSeccionProductos";
}
.seccionProductos .headerSeccionProductos {
  grid-area: headerSeccionProductos;
}
.seccionProductos .mainSeccionProductos {
  grid-area: mainSeccionProductos;
  background-size: cover;
  background-position: center;
}
.seccionProductos .footerSeccionProductos {
  grid-area: footerSeccionProductos;
}

.mainSeccionProductos h2,
.mainSeccionProductos h4,
.mainSeccionProductos p {
  text-align: center;
}

.mainSeccionProductos h2 {
  padding-top: 70px;
  font-size: 2em;
  font-weight: bold;
}
.mainSeccionProductos h4 {
  font-size: 1.2em;
  margin: 10px 10px;
  font-weight: bold;
}
.mainSeccionProductos p {
  margin-bottom: 50px;
  font-size: 1.1em;
}

.mesasDulces {
  padding-bottom: 20px;
}

.fotoProducto,
.fotoMesaDulce {
  height: 300px;
  width: 300px;
  opacity: 0.99;
  box-shadow: 0 0 5px #b3541e;
  border-radius: 5px;
  display: block;
  object-fit: cover;
}

.fotoMesaDulce {
  height: 500px;
  width: 800px;
}

.fotoProducto:hover,
.fotoMesaDulce:hover {
  opacity: 1;
}

.catalogoPostres,
.catalogoSaladitos,
.catalogoTortasPersonalizadas,
.catalogoMesasDulces {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  row-gap: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.catalogoMesasDulces {
  justify-content: center;
}

.catalogoSaladitos,
.catalogoMesasDulces,
.catalogoTortasPersonalizadas {
  padding-bottom: 100px;
}

.catalogoMesasDulces .carousel-item.active {
  display: flex;
  justify-content: center;
}

.catalogoMesasDulces .carousel-item.active {
  display: flex;
  justify-content: center;
}

.carousel-indicators [data-bs-target] {
  background-color: #362222;
}

.carousel-control-prev-icon {
  background-image: url(https://icongr.am/octicons/chevron-left.svg?size=70&color=362222);
}

.carousel-control-next-icon {
  background-image: url(https://icongr.am/octicons/chevron-right.svg?size=70&color=362222);
}

.mainSeccionProductos .carousel-control-next,
.mainSeccionProductos .carousel-control-prev {
  bottom: 100px;
}

@media screen and (max-width: 840px) {
  .fotoMesaDulce {
    width: 700px;
  }
}
@media screen and (max-width: 840px) {
  .fotoMesaDulce {
    width: 400px;
    height: 400px;
  }
}
@media screen and (min-width: 320px) and (max-width: 420px) {
  .fotoMesaDulce {
    width: 300px;
    height: 300px;
  }
}

/*# sourceMappingURL=estilos.css.map */
