/* Página -Info-: ----------------------------------------------------------------------------*/

.info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 5.0fr 0.3fr;
    gap: 0px 0px;
    grid-template-areas:
        "headerInfo"
        "mainInfo"
        "footerInfo";
}

.mainInfo {
    grid-area: mainInfo;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 60px;
    background-image: url(../img/fondo_info.svg);
    background-size: cover;
    background-position: center;
}

.footerInfo {
    grid-area: footerInfo;
}

.headerInfo {
    grid-area: headerInfo;
}

.mainInfo img {
    height: 400px;
    width: 400px;
}

.mainInfo p {
    margin-top: 20px;
    text-align: center;
    width: 95%;
}

@media screen and (max-width: 425px) {
    .mainInfo div {
        width: 310px;
        height: 310px;
    }
}

/* Página -Contacto-: ------------------------------------------------------------------------*/

.contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 5fr 0.3fr;
    gap: 0px 0px;
    grid-template-areas:
        "headerContacto"
        "mainContacto"
        "footerContacto";
}

.mainContacto {
    grid-area: mainContacto;
    background-image: url(../img/cookies.png);
    background-position: left;
    font-weight: bolder;
    text-shadow: none;
}

.footerContacto {
    grid-area: footerContacto;
}

.headerContacto {
    grid-area: headerContacto;
}

.formulario {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    border: 2px solid $color2;
    padding: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

input[type=text],
input[type=number],
input[type=email],
input[type=checkbox],
textarea {
    border: 2px solid $color0;
    border-radius: 4px;
}

.formulario__checkbox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.button {
    background-color: $color2;
    border: none;
    font-family: 'Dosis', sans-serif;
    color: $color0;
    text-shadow: 1px 1px 30px $color1;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    box-shadow: 2px 2px 5px $color1;
}

.button:hover {
    font-weight: bold;
}

.formulario label {
    display: block;
}

@media screen and (max-width: 395px) {
    .formulario label {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .button {
        padding: 10px 21px;
    }
}

/* Secciones de Productos: -------------------------------------------------------------------*/

.seccionProductos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 5.5fr 0.1fr;
    gap: 0px 0px;
    grid-template-areas:
        "headerSeccionProductos"
        "mainSeccionProductos"
        "footerSeccionProductos";
}

.headerSeccionProductos {
    grid-area: headerSeccionProductos;
}

.mainSeccionProductos {
    grid-area: mainSeccionProductos;
    background-image: url(../img/fondo_seccionProductos.svg);
    background-size: cover;
    background-position: center;
}

.footerSeccionProductos {
    grid-area: footerSeccionProductos;
}

.mainSeccionProductos h2,
.mainSeccionProductos h4,
.mainSeccionProductos p {
    text-align: center;
}

.mainSeccionProductos h2 {
    padding-top: 70px;
    font-size: 2em;
}

.mainSeccionProductos h4 {
    font-size: 1.2em;
    margin: 10px 10px;
}

.mainSeccionProductos>p {
    margin-bottom: 50px;
}

.fotoProducto,
.fotoPorcionIndividual,
.fotoMesaDulce {
    width: 300px;
    height: 300px;
    opacity: 0.96;
    box-shadow: 0 0 5px $color1;
    border-radius: 5px;
    display: block;
    object-fit: cover;
}

.fotoMesaDulce {
    width: 800px;
    height: 500px;
}

.fotoProducto:hover,
.fotoPorcionIndividual:hover,
.fotoMesaDulce:hover {
    opacity: 1.0;
}

.catalogoPostres,
.catalogoSaladitos,
.catalogoTortasPersonalizadas,
.catalogoMesasDulces {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.catalogoMesasDulces {
    justify-content: center;
}

.catalogoSaladitos,
.catalogoMesasDulces,
.catalogoTortasPersonalizadas {
    padding-bottom: 100px;
}

.catalogoPostres article .fotoPorcionIndividual {
    display: none;
}

.catalogoPostres article:hover .fotoPorcionIndividual {
    display: block;
}

.catalogoPostres article:hover .fotoProducto {
    display: none;
}

.catalogoMesasDulces .carousel-item.active {
    display: flex;
    justify-content: center;
}

.catalogoMesasDulces .carousel-item.active {
    display: flex;
    justify-content: center;
}

.carousel-indicators [data-bs-target] {
    background-color: $color0;
}

@media screen and (max-width: 840px) {
    .fotoMesaDulce {
        width: 700px;
    }
}

@media screen and (max-width: 840px) {
    .fotoMesaDulce {
        width: 400px;
        height: 400px;
    }
}

@media screen and (min-width: 320px) and (max-width: 420px) {
    .fotoMesaDulce {
        width: 300px;
        height: 300px;
    }
}