/* Mixins: ------------------------------------------------------------------------------------*/

@mixin sizes($width, $height) {
    height: $height;
    width: $width;
}

/* Página -Info-: -----------------------------------------------------------------------------*/

.info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 5.0fr 0.3fr;
    gap: 0px 0px;
    grid-template-areas:
        "headerInfo"
        "mainInfo"
        "footerInfo";

    .headerInfo {
        grid-area: headerInfo;
    }

    .mainInfo {
        grid-area: mainInfo;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 50px;
        padding-bottom: 60px;
        // background-image: url(../img/fondo_info.svg);
        background-size: cover;
        background-position: center;

        img {
            @include sizes(400px, 400px);
        }
        
        p {
            margin-top: 20px;
            text-align: center;
            width: 95%;
        }

        .accordion-item {
            background: transparent;

            .accordion-button {
                background: transparent;
                color: $color0;

                &:focus {
                    border-color: none;
                    box-shadow: 0 0 0 .25rem $color2;
                    color: $color0;
                }
            }
        }
    }

    .footerInfo {
        grid-area: footerInfo;
    }
}

@media screen and (max-width: 425px) {
    .mainInfo div {
        width: 310px;
        height: 310px;
    }
}

/* Página -Contacto-: ------------------------------------------------------------------------*/

.contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 5fr 0.3fr;
    gap: 0px 0px;
    grid-template-areas:
        "headerContacto"
        "mainContacto"
        "footerContacto";

    .headerContacto {
        grid-area: headerContacto;
    }

    .mainContacto {
        grid-area: mainContacto;
        background-image: url(../img/cookies.png);
        background-position: left;
        font-weight: bolder;
        text-shadow: none;

        .formulario {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            border: 2px solid $color2;
            padding: 50px;
            margin-top: 30px;
            margin-bottom: 30px;
        
            input[type=text],
            input[type=number],
            input[type=email],
            input[type=checkbox],
            textarea {
                border: 2px solid $color0;
                border-radius: 4px;
            }
        
            .formulario__checkbox {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
            }
        
            .button {
                background-color: $color2;
                border: none;
                font-family: 'Dosis', sans-serif;
                color: $color0;
                text-shadow: 1px 1px 30px $color1;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                font-size: 1em;
                box-shadow: 2px 2px 5px $color1;
            
                &:hover {
                    font-weight: bold;
                }
            }
        
            label {
                display: block;
            }
        }
    }

    .footerContacto {
        grid-area: footerContacto;
    }
}

@media screen and (max-width: 395px) {
    .formulario {
        label {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

        .button {
            padding: 10px 21px;
        }
    }
}

/* Secciones de Productos: -------------------------------------------------------------------*/

.seccionProductos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 5.5fr 0.1fr;
    gap: 0px 0px;
    grid-template-areas:
        "headerSeccionProductos"
        "mainSeccionProductos"
        "footerSeccionProductos";

    .headerSeccionProductos {
        grid-area: headerSeccionProductos;
    }

    .mainSeccionProductos {
        grid-area: mainSeccionProductos;
        // background-image: url(../img/fondo_seccionProductos.svg);
        background-size: cover;
        background-position: center;
    }

    .footerSeccionProductos {
        grid-area: footerSeccionProductos;
    }
}

.mainSeccionProductos h2,
.mainSeccionProductos h4,
.mainSeccionProductos p {
    text-align: center;
}

.mainSeccionProductos {
    h2 {
        padding-top: 70px;
        font-size: 2em;
        font-weight: bold;
    }

    h4 {
        font-size: 1.2em;
        margin: 10px 10px;
        font-weight: bold;
    }

    p {
        margin-bottom: 50px;
        font-size: 1.1em;
    }
}

.mesasDulces {
    padding-bottom: 20px;
}

.fotoProducto,
.fotoMesaDulce {
    @include sizes(300px, 300px);
    opacity: 0.99;
    box-shadow: 0 0 5px $color1;
    border-radius: 5px;
    display: block;
    object-fit: cover;
}

.fotoMesaDulce {
    @include sizes(800px, 500px);
}

.fotoProducto:hover,
.fotoMesaDulce:hover {
    opacity: 1.0;
}

.catalogoPostres,
.catalogoSaladitos,
.catalogoTortasPersonalizadas,
.catalogoMesasDulces {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.catalogoMesasDulces {
    justify-content: center;
}

.catalogoSaladitos,
.catalogoMesasDulces,
.catalogoTortasPersonalizadas {
    padding-bottom: 100px;
}

.catalogoMesasDulces .carousel-item.active {
    display: flex;
    justify-content: center;
}

.catalogoMesasDulces .carousel-item.active {
    display: flex;
    justify-content: center;
}

.carousel-indicators [data-bs-target] {
    background-color: $color0;
}

.carousel-control-prev-icon {
    background-image: url(https://icongr.am/octicons/chevron-left.svg?size=70&color=362222);
}

.carousel-control-next-icon {
    background-image: url(https://icongr.am/octicons/chevron-right.svg?size=70&color=362222);
}

.mainSeccionProductos .carousel-control-next, 
.mainSeccionProductos .carousel-control-prev {
    bottom: 100px;
}

@media screen and (max-width: 840px) {
    .fotoMesaDulce {
        width: 700px;
    }
}

@media screen and (max-width: 840px) {
    .fotoMesaDulce {
        width: 400px;
        height: 400px;
    }
}

@media screen and (min-width: 320px) and (max-width: 420px) {
    .fotoMesaDulce {
        width: 300px;
        height: 300px;
    }
}