/* Paleta de colores: https://colorhunt.co/palette/362222b3541effccd2ffeded --------------------*/

$color0: rgb(54, 34, 34);
$color1: rgb(179, 84, 30);
$color2: rgb(255, 204, 210);
$color3: rgb(255, 237, 237);

/* Bucles: -------------------------------------------------------------------------------------*/

@each $pagina in home, info, seccionProductos {
    .fondo-#{$pagina} {
      background-image: url('../img/fondo_#{$pagina}.svg');
    }
 }
 
/* Reseteo, body y sus partes principales -general: --------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    body {
        font-family: 'Dosis', sans-serif;
        color: $color0;
        text-shadow: 0 0 30px $color1;
        height: 100vh;
    }

    header {
        background-color: $color2;
        background-image: linear-gradient(to left, $color2, $color3);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: baseline;
        text-align: center;

        a {
            &:not(a.dropdown-toggle) {
                color: $color0;
                transition: text-shadow 0.3s;
            }

            &:hover {
                &:not(a.dropdown-toggle) {
                    text-shadow: 0 0 10px $color1;
                }
            }
        }
    }

    main {
        background-color: $color3;
    }

    footer {
        background-color: $color2;
        background-image: linear-gradient(to left, $color2, $color3);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        text-align: center;
        padding-bottom: 10px;
        padding-top: 5px;

        a {

            &:hover {
                color: $color0;
                transition: text-shadow 0.3s;
                text-shadow: 0 0 10px $color1;
            }

        }

        section {
            margin-top: 5px;

            ul {
                ul {
                    background-color: $color2;
                    border: solid 1px $color3;
                }
            }

            &.redesSociales {
                div {
                    img {
                        transition: transform 1s;
            
                        &:hover {
                            transform: rotate(360deg);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    header {
        nav {
            display: none;
        }
    }

    footer {
        ul {
            display: none;
        }
    }

    .headerHome {
        display: none;
    }

    .headerMobile {
        grid-area: headerHome, headerInfo, headerContacto, headerSeccionProductos;

        .bg-light {
            background-color: $color2 !important;
            background-image: linear-gradient(to left, $color2, $color3);
        }

        .offcanvas {
            background-color: $color3;

            .dropdown-menu {
                background-color: $color2;

                .dropdown-item {
                    &:hover {
                        background-color: $color2;
                    }

                    &.active {
                        color: $color0;
                        text-decoration: none;
                        background-color: $color2;
                    }

                    &:active {
                        color: $color0;
                        text-decoration: none;
                        background-color: $color2;
                    }
                }
            }
        }
    }

    a {
        &.nav-link {
            color: $color0 !important;
        }

        strong {
            cursor: default;
        }
    }

    strong {
        &.dropdown-item {
            font-weight: bolder;
        }
    }
}

@media screen and (min-width: 1025px) {
    .headerMobile {
        display: none;
    }
}

/* Barra de navegación desktop y logo: ---------------------------------------------------------*/

li {
    display: inline-block;
    width: 110px;
    position: relative;
    font-size: 16px;
    z-index: 2;
}

ul {
    list-style: none;
    font-size: 0;

    ul {
        position: absolute;
        display: none;
        background-color: $color3;
        border: solid 1px $color2;
        border-radius: 4px;

        li {
            display: block;
        }
    }
}

ul {
    li {
        &:hover {
            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
            }
        }
    }
}

li {
    > a {
        text-decoration: none;
        color: $color0;
    }
}

header {
    a {
        text-decoration: none;
        color: $color0;
    }

    h1 {
        transition: transform 0.5s;

        &:hover {
            transform: skewX(10deg);
        }
    }
}

/* Imports: ------------------------------------------------------------------------------------*/

@import "index";
@import "otras_paginas";
